<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Workshop_1_PRJ301</display-name>
    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>Filter.authFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
