@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    background: #f2ede0;
}

/*navigation bar*/

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 40px 40px;
}

.logo {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.logo img {
    width: 52px;
    height: 52px;
}

.logo h1 {
    font-size: 2rem;
    font-weight: 500;
}

.menu {
    display: flex;
    gap: 4rem;
    list-style: none;
}

.menu li {
    cursor: pointer
}

.menu a {
    text-decoration: none;
    color: #504a43;
    font-weight: 500;
}

.account {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.account img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

.register-butn {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.dropdown {
    position: absolute;
    top: 68px;
    right: 40px;
    visibility: hidden;
    background: #0f121c;
    border: 1px solid gray;
    padding: 15px 15px;
    transform: translateY(-10px);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out, visibility 0ms ease-in-out 250ms;
    opacity: 0;
    z-index: 2;
    cursor: auto;
}

.account:hover .dropdown {
    visibility: visible;
    transform: translateY(0);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out, visibility 0ms;
    opacity: 1;
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 8px;
    padding: 0px 10px;
}

.dropdown > ul a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: #9c9cac;
    transition: 250ms;
}

.dropdown > ul a:hover {
    color: white;
}

.dropdown ul li {
    display: flex;
    align-items: center;
    color: #7e8590;
    gap: 10px;
    transition: all 0.3s ease-out;
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
}

.dropdown i {
    font-size: 1.4rem;
}

.product-dropdown {
    position: absolute;
    top: 68px;
    right: 42%;
    visibility: hidden;
    background: #0f121c;
    width: 13%;
    border: 1px solid gray;
    padding: 15px 0px;
    transform: translateY(-10px);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out, visibility 0ms ease-in-out 250ms;
    opacity: 0;
    z-index: 2;
    cursor: auto;
}

.menu li:nth-child(2):hover .product-dropdown {
    visibility: visible;
    transform: translateY(0);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out, visibility 0ms;
    opacity: 1;
}

.product-dropdown ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 8px;
    padding: 0px 10px;
}

.product-dropdown > ul a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 14px 18px;
    color: #9c9cac;
    transition: 250ms;
}

.product-dropdown > ul a:hover {
    color: white;
    transform: translateX(10px);
}

.product-dropdown ul li {
    display: flex;
    align-items: center;
    color: #7e8590;
    gap: 10px;
    transition: all 0.3s ease-out;
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
}

.brief {
    display: inline-block;
    width: 580px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.product-table-container {
    padding: 20px;
    background: white;
    border-radius: 16px;
}

.product-table {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    border-collapse: collapse;
}

td {
    padding: 20px;
}

tr:hover {
    background: #f1f1f1;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.edit-button {
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    color: black;
}

.delete-button {
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    background: #e4594d;
}