@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(navbar.css);
@import url(footer.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

.nav-bar {
    padding: 0px;
}

.header {
    background: #f2ede0;
    padding: 0px 40px 40px 40px;
}

/*Hero Section*/
.upper-hero {
    display: flex;
    align-items: center;
}

.upper-hero h1 {
    font-size: 5.4vw;
    width: 80%;
    text-transform: uppercase;
}

.upper-hero span {
    color: #efae54;
}

.upper-hero p {
    color: #6e6e6e;
    font-size: 1vw;
    line-height: 1.7;
    width: 30%;
    padding: 40px;
}

.hero video {
    width: 100%;
}

.explore-more {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    color: black;
    margin-top: 15px;
}

.explore-more i {
    text-decoration: none;
    color: #e4594d;
    font-size: 2rem;
    transition: 250ms;
}

.explore-more:hover i {
    transform: rotate(40deg);
}

.list-product {
    padding: 40px 40px 40px 40px;
}

.list-product > .heading p, .heading h1 {
    text-align: center;
}

.heading p {
    font-size: 1.5vw;
    font-weight: 400;
}

.heading h1 {
    font-size: 3vw;
    font-weight: 500;
}

.buy-now {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
    position: relative;
    width: 100%;
}

.coffee-roaster {
    width: 500px;
    height: 650px;
    object-fit: cover;
    
}

.coffee-roaster::before {
    content: "Only pure coffee beans";
    bottom: 4px;
    left: 35%;
    width: 35%;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    position: absolute;
    padding: 20px;
    background-color: #efae54;
}

.buy-now-heading p {
    font-size: 1.5vw;
    font-weight: 400;
    text-transform: uppercase;
}

.buy-now-heading h1 {
    font-size: 4vw;
    font-weight: 500;
}

.buy-now-para p:nth-child(1) {
    color: #6e6e7c;
    margin-bottom: 60px;
}

.buy-now-para p:nth-child(2), p:nth-child(4) {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 60px;
}

.separate-line {
    padding: 0.5px;
    background: black;
}

.buy-now-para span {
    font-size: 1.4rem;
    opacity: 60%;
}

.buy-now-container a {
    text-decoration: none;
    padding: 1em 3em;
    font-size: 1.2rem;
    transition: 250ms;
    color: white;
    background: #e4594d;
    border: 1px solid #e4594d;
}

.buy-now-container a:hover {
    color: black;
    background: transparent;
    border: 1px solid #e4594d;
}

.leaf-deco {
    position: absolute;
    right: 0;
    margin-top: 1000px;
    z-index: -2;
}

.product-gallary {
    display: flex;
    overflow-y: hidden;
    gap: 2rem;
    flex-direction: row;
}

.product-item img {
    width: 400px;
    height: 400px;
}

.product-item {
    text-align: center;
    text-decoration: none;
    color: black;
}

.product-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.discountPrice {
    padding: 5px;
    background: #e4594d;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}