/PRJ/Kiddicute/nbproject/private/
/PRJ/Kiddicute/dist/
/PRJ/Kiddicute/build/
/PRJ/imagica/dist/
/PRJ/imagica/build/
/PRJ/Workshop_1_PRJ301/nbproject/private/
/PRJ/Workshop_1_PRJ301/dist/
/PRJ/Workshop_1_PRJ301/build/
/PRJ/Espresso/nbproject/private/
/PRJ/Espresso/build/
/PRJ/Espresso/dist/
/PRO/HelloWorld/nbproject/private/
/PRO/HelloWorld/build/
/PRO/JavaApplication02/nbproject/private/
/PRO/JavaApplication02/build/
/CSD/SLL_withObj/build/
/CSD/SLL_withObj/dist/
/CSD/SLL_withObj/nbproject/private/
/PRO/JavaApplication3a/nbproject/private/
/PRO/JavaApplication3a/build/
/PRO/JavaApplication3b/nbproject/private/
/PRO/JavaApplication3b/build/
/PRO/MyPractice/OrderManagementSystem/nbproject/private/
/PRO/MyPractice/OrderManagementSystem/build/
/PRO/Workshop1/nbproject/private/
/PRO/Workshop1/build/
/CSD/Week_1/SLL-CoBan/given/build/
/CSD/Week_1/SLL-CoBan/given/dist/
/CSD/Week_1/SLL-CoBan/given/nbproject/private/
/CSD/Week_1/SLL_withObj/nbproject/private/
/CSD/Week_1/SLL_withObj/build/
/PRO/JavaApplication6b/nbproject/private/
/PRO/JavaApplication6b/build/
/PRO/ASM/ASM02/Q2/src/build/
/PRO/ASM/ASM02/Q2/src/dist/
/PRO/ASM/ASM02/Q2/src/nbproject/private/
/PRO/Workshops/Workshop2/nbproject/private/
/PRO/Workshops/Workshop2/build/
/CSD/Week_4/Bonus_Point/SLL-CoBan/given/build/
/CSD/Week_4/Bonus_Point/SLL-CoBan/given/dist/
/CSD/Week_4/Bonus_Point/SLL-CoBan/given/nbproject/private/
/PRO/Workshops/Workshop3/nbproject/private/
/PRO/Workshops/Workshop3/Workshop3/nbproject/private/
/PRO/Workshops/Workshop3/Workshop3/build/
/PRO/Workshops/Workshop3/Workshop3/dist/
/PRO/Workshops/Workshop4/nbproject/private/
/PRO/Workshops/Workshop4/dist/
/PRO/Workshops/Workshop4/build/
/PRO/Workshops/AVL/nbproject/private/
/PRO/Workshops/AVL/build/
/PRO/JavaApplication_11a/nbproject/private/
/PRO/JavaApplication_11a/build/
/PRO/JavaApplication_11b/nbproject/private/
/PRO/Workshops/Workshop5/nbproject/private/
/PRO/Workshops/Workshop5/build/
/PRO/Workshops/Workshop5/dist/
/PRO/JavaApplication11/nbproject/private/
/PRO/JavaApplication11/build/
/PRO/JavaApplication14b/nbproject/private/
/PRO/JavaApplication14b/build/
/PRO/ASM/ASM05/Q5/src/build/
/PRO/MyPractice/PE_TEST_MOC/Dec2024/nbproject/private/
/PRO/MyPractice/PE_TEST_MOC/Dec2024/Dec2024/nbproject/private/
/PRO/MyPractice/PE_TEST_MOC/Dec2024/Dec2024/build/
/CSD/Practise/CodeW02_1/SLL-CoBan/given/build/
/CSD/Practise/CodeW02_1/SLL-CoBan/given/dist/
/CSD/Practise/CodeW02_1/SLL-CoBan/given/nbproject/private/
/CSD/Practise/CSD201_PE_FA23_B5_481226/PaperNo_6/Q1/nbproject/private/
/CSD/Practise/CSD201_PE_FA23_B5_481226/PaperNo_6/Q1/build/
/CSD/Practise/CSD201_PR_FA22/Given/Q1/nbproject/private/
/CSD/Practise/CSD201_PR_FA22/Given/Q1/build/
/CSD/Practise/CSD201_PR_FA22/Given/Q2/build/
/CSD/Practise/CSD201_PR_FA22/Given/Q2/nbproject/private/
/CSD/Practise/CSD201_PR_FA22/Given/Q3/build/
/CSD/Practise/CSD201_PR_FA22/Given/Q3/nbproject/private/
/LAB/Self_Practice/Airport-Management-System/nbproject/private/
/LAB/LAB_1/Traditional_Feast_Management/target/
/LAB/LAB_1/Traditional-Feast-Order-Management-master/Traditional_Feast_Order_Management/build/
/LAB/LAB_1/Traditional-Feast-Order-Management-master/Traditional_Feast_Order_Management/nbproject/private/
