/PRJ/Kiddicute/nbproject/private/
/PRJ/Kiddicute/dist/
/PRJ/Kiddicute/build/
/PRJ/imagica/dist/
/PRJ/imagica/build/
/PRJ/Workshop_1_PRJ301/nbproject/private/
/PRJ/Workshop_1_PRJ301/dist/
/PRJ/Workshop_1_PRJ301/build/
/PRJ/Espresso/nbproject/private/
/PRJ/Espresso/build/
/PRJ/Espresso/dist/
/PRO/HelloWorld/nbproject/private/
/PRO/HelloWorld/build/
/PRO/JavaApplication02/nbproject/private/
/PRO/JavaApplication02/build/
/CSD/SLL_withObj/build/
/CSD/SLL_withObj/dist/
/CSD/SLL_withObj/nbproject/private/
/PRO/JavaApplication3a/nbproject/private/
/PRO/JavaApplication3a/build/
/PRO/JavaApplication3b/nbproject/private/
/PRO/JavaApplication3b/build/
/PRO/MyPractice/OrderManagementSystem/nbproject/private/
/PRO/MyPractice/OrderManagementSystem/build/
/PRO/Workshop1/nbproject/private/
/PRO/Workshop1/build/
/CSD/Week_1/SLL-CoBan/given/build/
/CSD/Week_1/SLL-CoBan/given/dist/
/CSD/Week_1/SLL-CoBan/given/nbproject/private/
/CSD/Week_1/SLL_withObj/nbproject/private/
/CSD/Week_1/SLL_withObj/build/