/PRJ/Kiddicute/nbproject/private/
/PRJ/Kiddicute/dist/
/PRJ/Kiddicute/build/
/PRJ/imagica/dist/
/PRJ/imagica/build/
/PRJ/Workshop_1_PRJ301/nbproject/private/
/PRJ/Workshop_1_PRJ301/dist/
/PRJ/Workshop_1_PRJ301/build/
/PRJ/Espresso/nbproject/private/
/PRJ/Espresso/build/